* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-wave {
  padding-bottom: 50px !important;
  --mask:
      radial-gradient(61.29px at 50% calc(100% - 85.00px), #000 99%, #0000 101%) calc(50% - 68px) 0/136px 100%,
      radial-gradient(61.29px at 50% calc(100% + 51.00px), #0000 99%, #000 101%) 50% calc(100% - 34px)/136px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

p,
a,
li {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.navbar-nav.ml-auto {
  margin-left: auto;
}

body .main_section_home {
  background-image: linear-gradient(155deg, #b6b0ff 50%, #fff 50%);
  height: 94vh;
}
body .button_effect {
  background-image: linear-gradient(to left, transparent 10%, #00c4ff);
}
body a.signup-image-link.shadow.button_effect {
  width: 50%;
  padding: 15px;
  margin: auto auto 15px;
}
body .button_effect_about {
  background-image: linear-gradient(to right, #0909fc 10%, #000) !important;
}
body .success_btn {
  color: #fff;
  border: 1px solid rgb(7, 188, 12);
  background-image: linear-gradient(30deg, rgb(7, 188, 12) 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
}
body .success_btn:hover {
  background-position: 100%;
  color: rgb(7, 188, 12);
  border: 1px solid rgb(7, 188, 12);
}
body .primary_btn {
  border: 1px solid rgb(0, 196, 255);
  background-image: linear-gradient(30deg, #00c4ff 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
}
body .primary_btn:hover {
  background-position: 100%;
  color: rgb(0, 196, 255);
  border: 1px solid rgb(0, 196, 255);
}
body section.main_section_signup,
body section.main_section_signin,
body .main_section_contact {
  background-image: linear-gradient(155deg, #b6b0ff 50%, #fff 50%);
}
body section.main_section_signup .container,
body section.main_section_signin .container,
body .main_section_contact .container {
  background-color: #fff;
}
@media (min-width: 1200px) {
  body .main_section_home,
  body .main_section_signin,
  body section.main_section_signup,
  body .main_section_contact {
    height: 94vh;
  }
}
body .box_shadow {
  box-shadow: 1px 4px 8px 0px #c9c9c9;
}
body .pointer_cursor {
  cursor: pointer;
}
body div#showPass {
  padding: 10px;
}
body input.profile_edit_btn,
body button.profile_edit_btn {
  border: 0;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 20px;
  width: 100%;
}
body p.profile span {
  color: #0000ff;
  font-weight: 500;
}
body div#home p,
body div#profile p {
  color: #0000ff;
}
body .email_group {
  background: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

h1 {
  font-size: 42px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #0000ff;
}

h5 {
  font-size: 22px;
  color: #0000ff;
}

.contact_info .contact_inner_details {
  grid-gap: 15px;
}
.contact_info .contact_box {
  padding: 10px;
}
.contact_info .contact_box img.img_icon {
  width: 15%;
}
.contact_info .contact_form_container .contact_form_details {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 15px;
}
.contact_info .contact_form_container .contact_form_name {
  margin-bottom: 15px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.contact_info .contact_form_container input:is(#contact_form_name, #contact_form_email, #contact_form_number),
.contact_info .contact_form_container textarea.contact_form_number_message {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.contact_info .contact_form_container input:is(#contact_form_name, #contact_form_email, #contact_form_number)::-moz-placeholder {
  color: #000;
}
.contact_info .contact_form_container input:is(#contact_form_name, #contact_form_email, #contact_form_number)::placeholder {
  color: #000;
}
.contact_info .contact_form_container textarea.contact_form_number_message {
  width: 100%;
}

.error_page h1 {
  font-weight: 800;
}

.home_contain .bubble {
  position: absolute;
  top: 53%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.home_contain .small {
  width: 10px;
  height: 10px;
  left: 50%;
  animation: flow-s 2s linear infinite;
}
.home_contain .small-l {
  width: 10px;
  height: 10px;
  left: 43%;
  animation: flow-s-l 0.9s linear infinite;
}
.home_contain .s-medium {
  width: 20px;
  height: 20px;
  left: 43%;
  animation: flow-s 1.3s linear infinite;
}
.home_contain .medium {
  width: 25px;
  height: 25px;
  left: 45%;
  animation: flow-m 0.8s linear infinite;
}
.home_contain .large {
  width: 5px;
  height: 5px;
  left: 57%;
  animation: flow-l 0.7s linear infinite;
}

@keyframes flow-l {
  0% {
    top: 53%;
    left: 57%;
    opacity: 0;
  }
  25% {
    top: 49%;
    left: 57.5%;
    opacity: 1;
  }
  50% {
    left: 58%;
    opacity: 1;
  }
  75% {
    left: 57.5%;
    opacity: 1;
  }
  100% {
    top: 32%;
    left: 57%;
    opacity: 0;
  }
}
@keyframes flow-s {
  0% {
    top: 53%;
    left: 50%;
    opacity: 0;
  }
  25% {
    top: 49%;
    left: 51%;
    opacity: 1;
  }
  50% {
    top: 45%;
    left: 52%;
    opacity: 1;
  }
  75% {
    top: 41%;
    left: 51%;
    opacity: 1;
  }
  100% {
    top: 37%;
    left: 50%;
    opacity: 0;
  }
}
@keyframes flow-s-m {
  0% {
    top: 53%;
    left: 43%;
    opacity: 0;
  }
  25% {
    top: 49%;
    left: 42.5%;
    opacity: 1;
  }
  50% {
    top: 45%;
    left: 42%;
    opacity: 1;
  }
  75% {
    top: 41%;
    left: 42.5%;
    opacity: 1;
  }
  100% {
    top: 37%;
    left: 43%;
    opacity: 0;
  }
}
@keyframes flow-m {
  0% {
    top: 53%;
    left: 45%;
    opacity: 0;
  }
  25% {
    top: 48%;
    left: 44.5%;
    opacity: 1;
  }
  50% {
    top: 43%;
    left: 44%;
    opacity: 1;
  }
  75% {
    top: 38%;
    left: 44.5%;
    opacity: 1;
  }
  100% {
    top: 33%;
    left: 45%;
    opacity: 0;
  }
}
@keyframes flow-s-l {
  0% {
    top: 53%;
    left: 43%;
    opacity: 0;
  }
  25% {
    top: 48%;
    left: 43.5%;
    opacity: 1;
  }
  50% {
    top: 43%;
    left: 44%;
    opacity: 1;
  }
  75% {
    top: 38%;
    left: 43.5%;
    opacity: 1;
  }
  100% {
    top: 33%;
    left: 43%;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .contact_inner_details .contact_box {
    padding: 10px;
    margin-bottom: 10px;
  }
  .contact_form_name {
    display: block;
  }
  .contact_form_name input:is(#contact_form_name, #contact_form_email, #contact_form_number) {
    width: 100%;
  }
  section.main_section_signup,
  section.main_section_signin,
  .main_section_contact,
  .main_section_home {
    background-image: linear-gradient(120deg, #b6b0ff 50%, #fff 50%) !important;
  }
  body .success_btn,
  body .button_effect,
  body .button_effect_about,
  body .primartbtn {
    width: 50%;
  }
  body .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  body section.main_section.main_section_signup {
    height: 94vh;
  }
  body button#signup {
    margin: 15px auto;
  }
}/*# sourceMappingURL=style.css.map */